:root {
    --light-grey: #949292;
    --white: #ffffff;
    --black: #000000;
}

html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfbfb;
}

.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 1px solid #000000;
}

.title {
    font-family: 'DM Sans';
    font-size: 3vw;
    font-size: 1000;
}

.subtitle {
    font-size: 14px;
    color: var(--light-grey);
}

.icons-container {
    display: flex;
    gap: 1.5rem;
}

.icons-container .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icons-container .icon img {
    width: 100%;
    height: 100%;
}

.main {
    margin: 20px 50px 200px 200px;
}

/************************* main part ********************/

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.breadcrumb .crumb, .breadcrumb .crumb a {
    color: var(--light-grey);
    font-size: 14px;
    text-decoration: none;
}

.breadcrumb .crumb.icon {
    width: 10px;
    height: 15px;
}

.breadcrumb .crumb.icon img {
    width: 100%;
    height: 100%;
}

.detail-container {
    margin: 30px auto;
}

.detail-container .title {
    font-size: 2vw;
    font-weight: 800;
}

.detail-container .showing-img-container {
    width: 500px;
    height: 500px;
    margin: 20px 312px 20px 50px;
    position: relative;
    border: 1px solid #949292;
}

.detail-container .showing-img-container img {
    width: 100%;
    height: 100%;
}

.detail-container .showing-img-container .icon-container {
    position: absolute;
    left: 8%;
    bottom: 16%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.showing-img-container .icon-container img {
    width: 50%;
    height: 50%;
}

.detail-container .bottom-info {
    width: 45%;
    margin: 15px 15px 15px 80px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.bottom-info .thumbnail {
    width: 60px;
    height: 60px;
    border: 1px solid var(--light-grey);
}

.bottom-info .thumbnail img {
    width: 100%;
    height: 100%;
}

.bottom-info .quantity-container {
    display: flex;
    align-items: center;
    color: var(--light-grey);
}

.quantity-container .reduce-btn {
    padding: 10px;
    border-top: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    border-left: 1px solid var(--light-grey);
    cursor: pointer;
}
.quantity-container .quantity {
    padding: 10px;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    color: var(--black);
    font-weight: 800;
}
.quantity-container .increase-btn {
    padding: 10px;
    border-top: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    border-left: 1px solid var(--light-grey);
    cursor: pointer;
}

.detail-container .price {
    font-size: 4vw;
    font-weight: 800;
    width: 50%;
    text-align: right;
}

.detail-container .add-to-cart {
    background-color: var(--black);
    color: var(--white);
    width: 45%;
    font-size: 2vw;
    text-align: center;
    padding: .3rem;
    margin-top: 15px;
    margin-left: 60px;
    cursor: pointer;
}

.detail-container .description {
    margin: 30px auto;
} 

.detail-container .description ul li {
    font-weight: 600;
}

.detail-container .description .detail {
    color: var(--light-grey);
}

.detail-container .overall-rating-container {
    width: 50%;
    margin: 30px;
    /* border: 1px solid red; */
    text-align: center;
}

.overall-rating-container .title {
    font-size: 3vw;
    font-weight: 800;
}

.overall-rating-container .score {
    font-size: 3vw;
    font-weight: 800;
    margin: 40px 0px 20px 0px;
}

.overall-rating-container .rating-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.overall-rating-container .rating-item {
    width: 60px;
    height: 60px;
    cursor: pointer;
    /* border: 1px solid red; */
}
